body{
 
}

.footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    
    text-align: center;
    font-size:  18px;
    counter-reset: white;
    color: azure;

  }

  img{
    margin-left: 2%;
  }

