body{
  padding: 1%;
  border: 5px double  rgb(100, 93, 93);;
  background-color: white;
  margin: 4% 2% 1% 2%;
}

th{
  font-size: small;
}

td{
  padding: 1px;
  font-size:small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
