body {

  }

  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(100, 93, 93);
  }

  h4{
    color: rgb(100, 93, 93);
  }

  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 70%;
  }
