<body>

  <div class="row offset-md-2">
      <div class="col ">
        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Students</div>
          <div class="card-body">
            <span class="card-title">Number of Students <b>{{students.length}}</b> </span>
          </div>
        </div>
      </div>


  <div class="col ">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Users</div>
      <div class="card-body">
        <span class="card-title">Number of Users <b>{{noOfUsers}}</b></span>
      </div>
    </div>
  </div>

</div>




</body>
